@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="/EmployeeMVC/Employees">Personallista</a>
    <br />
    <a href="/EmployeeMVC/LoginDetails">Kontolista</a>
    <br />
    <a href="/EmployeeMVC/Status">Server Status</a>

    <br />
    <br />
</div>
