@model EmployeeMVC.Models.ModelView
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <a asp-action="Index" asp-route-id=1 style="color:@ViewBag.color1"> Testa grupp 1 WS</a>
</div>
<div class="text-center">
    <a asp-action="Index" asp-route-id=2 style="color:@ViewBag.color2"> Testa grupp 2 WS</a>
</div>
<div class="text-center">
    <a asp-action="Index" asp-route-id=3 style="color:@ViewBag.color3"> Testa grupp 3 WS</a>
</div>
<div class="text-center">
    <a asp-action="Index" asp-route-id=4 style="color:@ViewBag.color4"> Testa grupp 4 WS</a>
</div>
<div class="text-center">
    <a asp-action="Index" asp-route-id=5 style="color:@ViewBag.color5"> Testa grupp 5 WS</a>
</div>
<div class="text-center">
    <a asp-action="Index" asp-route-id=6 style="color:@ViewBag.color6"> Testa grupp 6 WS</a>

    <br />
    <br />
</div> 